@import java.sql.Timestamp
@(oid: String, movieName: String, showTime: Timestamp)
@*//@(moviename: String, showtime:String)*@

<!DOCTYPE html>

<html>
    <head>
        <title> Search Movie</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
      <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <table>
            <tr>
                <th>Order id</th>
                <th>Moive name</th>
                <th>Show time</th>
            </tr>

            <tr>
                <td>@oid</td>
                <td>@movieName</td>
                <td>@showTime</td>
            </tr>

        </table>
        @*<h2>@oid </h2>*@
        @*<h3>@showtime</h3>*@


    </body>
</html>
