@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css"  href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")"  />
        <link rel="stylesheet" type="text/css"  href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")"/>
        <link rel="stylesheet" type="text/css"  href="@routes.Assets.at("bootstrap/css/bootstrap.css")" />

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
      <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body style="background: #2e2a24">
        @* 201d19 纯黑*@
        @* 2e2a24 背景灰黑*@
        @* f9d094 普通字 金黄*@
        @* ba832c 特殊字 深金黄*@

        <br/>
        <br/>
        <center><b><font size="8px"  style="color: #f9d094" >Welcome to Movie Theater</font></b></center>
        <br/>
        <var id="moviename"  aria-valuetext="testname"></var>
        <center><a href="selectmovie" class="btn btn-scalafp btn-scalafp-lg" >Select A Movie</a></center>
        <br/>
        <br/>

        <center>
            <form action="lookuporder" method="get" class="form-horizontal" >
                <input style="background: #ffffff; color: #201d19" type="text" name="orderid" placeholder="Please Input Order Number!" size="40" minlength="30">

                <input class="btn btn-scalafp"  type="submit" value="Look Up Order" minlength="36" maxlength="36">
            </form>
        </center>


    </body>
</html>
