@(message: String)

<!DOCTYPE html>

<html>
    <head>
        <title> Search Movie</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
      <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <h2>Search Function Not Avaliable </h2>
        @*<form action="selectmovie" method = get>*@
            @*<input type="hidden" name="movieName" value="Doctor Who">*@
            @*<input type="submit" value="selectmovie">*@
        @*</form>*@

    </body>
</html>
