@(moviename: String, orderid : String)

<!DOCTYPE html>

<html>
    <head>
        <title> Search Movie</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
      <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

        You Sucessfully Buy Ticket For
        <h3>@moviename</h3>
        Please Remember Your Order Number：
        <h3>@orderid</h3>
        You can look up your order detail using Order Number

    </body>
</html>
